html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Manrope";
}

.container {
  background-color: rgb(51, 50, 50);
  width: 100%;
  height: 3500px;
  font-family: "Manrope";
}

.header {
  height: 240px;
  display: flex;
  flex-direction: row;
  column-gap: 58px;
  width: 100%;
  background-image: url('images/header\ background.png');
  
}
.sub-title {
        color: white;
        font-size: 50px;
        font-weight: 800;
        margin-left: 15px;
        margin-top: 85px;
        line-height: 42px;
        margin-right: 40px;
        font-family: "Manrope";
  }
.archivo-black-regular {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.artistsDets {
  margin-left: 0px;
}
.bubbles {
  background-color: rgb(20, 20, 82);
  height: 80px;
  width: 100%;

}
#songInfo {
  background-color: black;
  height: 80px;
  width: 100%;
}
.footer {
  height: 60px;
  width: 100%;
}
.search_div {
  display: flex;
  flex-direction: row;
  column-gap: 0px;
  margin-top: 95px;
  margin-left: 100px;
}
.search_div2 {
  display: flex;
  flex-direction: row;
  column-gap: 0px;
  margin-top: 95px;
  margin-left: 10px;
}
.back_img {
  margin-top: 25px;
  margin-left: 15px;
  margin-right: 0px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.back_img2 {
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 0px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.back_img:hover {
  opacity: 0.8;
  transform: scale(1.1);

}
#searchQuery {
  width: 310px;
  color: white;
  height: 50px;
  margin-left: 0px;
  margin-top: 0px;
  font-size: 20px;
  background-color: rgba(8, 8, 8, 0.219);
  border-color: white;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 28px;
  border-bottom-left-radius: 28px;
  text-align: center;
  margin-right: 0px;
  border-style: solid;
  border-right-color: rgba(250, 239, 239, 0.019);
}
#searchQuery::placeholder {
  color: white;
  opacity: 1;
}
.searchbtn {
  width: 65px;
  margin-left: 0px;
  height: 55.5px;
  margin-top: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: rgba(8, 8, 8, 0.219);
  border-color: white;
  border-style: solid;
  text-align: center;
  border-left-color: rgba(250, 239, 239, 0.007);
  
}
.searchimg {
  width: 31px;
  height: 31px;
}
.artistName {
        color: white;
        align-self: center;
        font-size: 15px;
        font-weight: light;
}
.songTitle {
        color: white;
        font-size: 30px;
        align-self: center;
        white-space: nowrap; /* Prevent text from wrapping onto a new line */
        overflow: hidden;
        text-overflow: ellipsis;
}
.noPreview {
    margin-right: 10px;
    font-size: 28px;
}
.musicInfo {
  background-color: black;
  height: 120px;
  padding-top: 0px;
  width: 100%;
  margin-bottom: 1px;
  padding-bottom: 8px;
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr;
  column-gap: px;
  justify-content: space-between;
  cursor: pointer;
}

.duration {
        color: white;
        font-size: 26px;
        font-weight: bold;
        margin-left: 200px;
        align-self: center;
        margin-right: 27px;
}
.albumImage {
        width: 92px;
        height: 92px;
        border-radius: 0px;
        margin-left: 65px;
        margin-top: 10px;
        margin-bottom: 15px;
        margin-right: 83px;
}
button .icon {
        width: 43px;
        height: 43px;
  }
.pre_click {
        width: 800px;
        height: 70px;
}

.content_div {
    width: 343px;
    height: 90%;
    background-color: rgb(26, 25, 25);
    margin-top: 30px;
    margin-left: 25px;
    border-radius: 25px;
    position: absolute;
    left: 10%;
    display: none;
}
.pp_img {
  width: 360px;
  height: 280px;
  border-radius: 8px;
  margin-left: 13px;
  margin-top: 55px;
  margin-bottom: 0px;
}
.kanit-regular {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.kanit-medium {
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.kanit-bold {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.manrope-fontsd {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
p {
  font-family: "Kanit";
  color: rgb(113, 151, 151);
}
.dp {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 11px;
  font-size: 20px;
}
.dp1 {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 11px;
  font-size: 20px;
}
.p1 {
  font-weight: bold;
  font-size: 27px;
  color: azure;
  margin-top: 0px;
  margin-left: 9px;
  margin-bottom: 50px;
}
.xicon {

  }
.xbtn {
  background-color:  rgba(0, 0, 0, 0);
  border: none;
  margin-top: 15px;
  padding: 0px;
  height: 42px;
  width: 43px;
  padding-top: 0px;
  margin-bottom: 255px;
  cursor: pointer;
  margin-right: 8px;
}
.img_box {
  display: flex;
  flex-direction: row;
  column-gap: 0px;
}
  
@media (max-width: 576px) {
  .p1 {
    margin-top: 13px;
  }
  #searchQuery {
    margin-left: 5px;
    width: 285px;
    height: 45px;
  }
  
  .xicon {
    height: 40px;
    width: 40px;
  }
  .content_div {
    height: 79%;
    width: 300px;
  }
  .searchbtn {
    width: 57px;
    height: 55px;
  }
  .sub-title {
    margin-bottom: 12px;
    font-size: 23px;
  }
  .pp_img {
  width: 250px;
  height: 300px;
  }
  .artistName {
    font-size: 15px;
  }
  .songTitle {
    font-size: 15px;
  }
  .duration {
        font-size: 13px;
        margin-left: 20px;
        margin-right: 11px;
}
  .container {
    height: 2200px;
  }
  .albumImage {
        width: 50px;
        height: 50px;
        border-radius: 25px;
  }
  .musicInfo {
        height: 75px;
        margin-left: 0px;
        margin-right: 0px;
        border-radius: 10px;
  }
  .songTitle {
        white-space: nowrap; /* Prevent text from wrapping onto a new line */
        overflow: hidden;
        text-overflow: ellipsis;
  }
  .back_img {
    margin-left: 5px;
    margin-right: 3px;
    width: 50px;
    height: 50px;
  }
  .search_div {
        margin-left: 22px;
  }
}
